@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model ReportEmployeeDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" class="main-signin-form" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FilePath" />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Şirkət: </label>
                        <select readonly asp-for="CompanyId" id="CompanyId" class="form-control disabled_custom">
                            <option value="" disabled selected hidden>Seçim edin</option>
                            @foreach (var item in ViewBag.companies)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="floatLabel"> Tarix: </label>
                    <div class="form-group">
                        <input readonly asp-for="ReportDate" type="text" class="form-control disabled_custom" id="inputDate">
                        <span asp-validation-for="ReportDate" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" class="btn btn-dark-blue m-b-0  btn-block">
                        Təsdiqlə
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")

<script>
    $(document).ready(function () {
      
    });
</script>