@model List<ContractListDto>
@{
    ViewData["Title"] = "Müqavilə Siyahısı";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/files/lib/jquery-easyui-1.10.4/themes/bootstrap/easyui.css">
<!-- Date-range picker css  -->
<link rel="stylesheet" type="text/css" href="~/files/bower_components2/bootstrap-daterangepicker/daterangepicker.css" />

<!-- Page-header start -->
<div class="page-header">
    <div class="row justify-content-between">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Bütün kadr sənədləri</h4>

                </div>
            </div>
        </div>

    </div>
</div>
<form asp-action="List" method="post" class="card-block">
    <div class="row">
        <div class="col-sm-4">
            <label class="floatLabel">  Şirkət: </label>
            <div style="margin-bottom:20px">
                <input type="text" class="form-control" id="CompId" name="CompId" style="width:100%">
            </div>
        </div>
        <div class="col-sm-4">
            <label class="floatLabel">  Şöbə: </label>
            <div style="margin-bottom:20px">
                <input type="text" class="form-control" id="DepartId" name="DepartId" style="width:100%">
            </div>
        </div>
        <div class="col-sm-4">
            <label class="floatLabel">  Vəzifə: </label>
            <div style="margin-bottom:20px">
                <input type="text" class="form-control" id="PositId" name="PositId" style="width:100%">
            </div>
        </div>
@*        <div class="col-sm-4">
            <div class="form-group">
                <label class="floatLabel">Sənəd növü: </label>
                <select id="DocumentType" name="DocumentType" class="form-control">
                    <option value="" selected disabled hidden>Seçim edin</option>
                    @foreach (var item in ViewBag.contractTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>*@
        <div class="col-sm-4">
            <label class="floatLabel">  Tarix aralığı: </label>
            <div class="form-group">
                <input type="text" id="Interval" name="Interval" class="form-control" value="" />
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <button type="submit" class="btn btn-outline-success btn-round btn-block">
                Təsdiqlə
            </button>
        </div>
    </div>
</form>
<!-- Page-header end -->
<!-- Page body start -->

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

<div class="modal slideInDown animated" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-outline-danger btn-icon">
                    <strong>x</strong>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section CrudJs{
    <!-- delete_ajax-->
    <script src="~/files/lib/cust_ajax/delete_ajax.js"></script>
    <script type="text/javascript" src="~/files/lib/jquery-easyui-1.10.4/jquery.easyui.min.js"></script>
    <!-- Date-range picker js -->
    <script type="text/javascript" src="~/files/bower_components2/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script class="removable" type="text/javascript">
        $(document).ready(function($) {
            $.ajax({
                url: `@Url.Action("GetCompanyTreeBySignInUser","Account")`,
                type: "Get",
                data: "",
                dataType: "json",
                cache: false,
                success: function(data) {
                    var tree = $('#DepartId').combotree({
                        prompt: 'Seçim edin'
                    });
                    tree.combotree('disable')
                    var tre = $('#PositId').combotree({
                        prompt: 'Seçim edin'
                    });
                    tre.combotree('disable')
                    $('#CompId').combotree({
                        data: data,
                        prompt: 'Seçim edin',
                        onClick: function(node) {
                            $('.CompId').text($('#CompId').data("val-required")).addClass("d-none")
                            var _id = node.id;
                            $.ajax({
                                url: `@Url.Action("GetDepartmentTree","Account")`,
                                type: "Get",
                                data: {
                                    companyId: _id,
                                },
                                dataType: "json",
                                cache: false,
                                success: function(data) {
                                    if (data.length > 0) {
                                        $('#DepartId').combotree({
                                            data: data,
                                            prompt: 'Seçim edin'
                                        });
                                        var tree = $('#PositId').combotree({
                                            prompt: 'Seçim edin'
                                        });
                                        tree.combotree('disable')
                                        $('#DepartId').combotree({
                                            data: data,
                                            prompt: 'Seçim edin',
                                            onClick: function(node) {
                                                $('.DepartId').text($('#DepartId').data("val-required")).addClass("d-none")
                                                var _id = node.id;
                                                $.ajax({
                                                    url: `@Url.Action("GetPositionTree","Account")`,
                                                    type: "Get",
                                                    data: {
                                                        departmentId: _id,
                                                    },
                                                    dataType: "json",
                                                    cache: false,
                                                    success: function(data) {
                                                        if (data.length > 0) {
                                                            $('#PositId').combotree({
                                                                data: data,
                                                                prompt: 'Seçim edin'
                                                            });
                                                        }
                                                        else {
                                                            var tree = $('#PositId').combotree({
                                                                prompt: 'Yoxdur !'
                                                            });
                                                            tree.combotree('disable')
                                                        }
                                                    },
                                                    error: function(data) {
                                                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                                                    }
                                                })
                                            }
                                        })
                                    }
                                    else {
                                        var tree = $('#DepartId').combotree({
                                            prompt: 'Yoxdur !',
                                        });
                                        tree.combotree('disable')
                                        var tre = $('#PositId').combotree({
                                            prompt: 'Yoxdur !',
                                        });
                                        tre.combotree('disable')
                                    }
                                },
                                error: function(data) {
                                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                                }
                            })
                        }
                    })
                },
                error: function(data) {
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
            });
            //$("form").submit(function(e) {
            //    //e.preventDefault();
            //    var CompId = $('#CompId').combotree('getValue');
            //    var DepartId = $('#DepartId').combotree('getValue');

            //    if (CompId === "") {
            //        $('.CompId').text($('#CompId').data("val-required")).removeClass("d-none");
            //        e.preventDefault();
            //    }
            //    if (DepartId === "") {
            //        $('.DepartId').text($('#DepartId').data("val-required")).removeClass("d-none");
            //        e.preventDefault();
            //    }
            //});
            $('input[name="Interval"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            $('input[name="Interval"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('DD.MM.YYYY') + '-' + picker.endDate.format('DD.MM.YYYY'));
            });
            $('input[name="Interval"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });
    </script>

}