@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model CompanyAddDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs  tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab"
                   href="#home1" role="tab">Məlumatlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                   href="#profile1" role="tab">Fayllar</a>
            </li>

        </ul>
        <!-- Tab panes -->
        <form asp-action="Add" class="main-signin-form" enctype="multipart/form-data">
            <div class="tab-content tabs card-block">
                <div class="tab-pane active" id="home1"
                     role="tabpanel">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Ad: </label>
                                <input type="text" class="form-control" asp-for="Name" autocomplete="off">
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Təsvir: </label>
                                <input type="text" class="form-control" asp-for="Description">
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="floatLabel">   Üst Şirkət: </label>
                            <select name="select" asp-for="ParentId" name="ParentId" class="form-control">
                                <option value="" selected disabled hidden>Seçim edin</option>
                                @foreach (var item in ViewBag.companies)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }

                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Şirkətin rəhbərinin vəzifəsi: </label>
                                <input type="text" class="form-control" asp-for="LeaderPosition" autocomplete="off">
                                <span asp-validation-for="LeaderPosition" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Şirkətin VÖEN-i: </label>
                                <input type="text" class="form-control" asp-for="Tin" autocomplete="off">
                                <span asp-validation-for="Tin" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Şirkətin hüquqi ünvanı: </label>
                                <input type="text" class="form-control" asp-for="Address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Şirkətin bank hesabının nömrəsi: </label>
                                <input type="text" class="form-control" asp-for="BankAccountNumber" autocomplete="off">
                                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Bankın kodu: </label>
                                <input type="text" class="form-control" asp-for="BankCode">
                                <span asp-validation-for="BankCode" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Bankın adı: </label>
                                <input type="text" class="form-control" asp-for="BankName">
                                <span asp-validation-for="BankName" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Bankın VÖEN-i: </label>
                                <input type="text" class="form-control" asp-for="BankTin" autocomplete="off">
                                <span asp-validation-for="BankTin" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Bankın SWIFT kodu: </label>
                                <input type="text" class="form-control" asp-for="SWIFTCode" autocomplete="off">
                                <span asp-validation-for="SWIFTCode" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Müxbir hesabının nömrəsi: </label>
                                <input type="text" class="form-control" asp-for="CorrespondentAccountNumber">
                                <span asp-validation-for="CorrespondentAccountNumber" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile1" role="tabpanel">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="floatLabel"> Logo Seç:</label>
                            <input type="file" class="form-control-file pb-3 mt-3" name="logo" id="Logo" />
                        </div>
                        <div class="col-md-6  col-lg-6 col-sm-6">
                            <div class="border text-center pt-2">
                                <div class="pt-0">
                                    <label class="floatLabel">Mövcud Logo:</label>
                                    <img src="~/logo/logoDefault.png" class="pb-2 " style="width: 150px; height: 150px;" alt="Default Logo" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <div id="lview" style="display:none!important;">
                                <div class="border text-center pt-2">
                                    <div class="pt-0">
                                        <label class="floatLabel">Yeni logo:</label>
                                        <img id="logoview" src="" class="pb-2" style="width: 150px; height: 150px;" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary m-b-0 btn-block">
                            Təsdiqlə
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    $(document).ready(function () {
        $("#Logo").change(function (e) {


            $("#lview").show();
            $("#logoview").attr('src', URL.createObjectURL(e.target.files[0]));
        });
    });
</script>
