@model IEnumerable<ClauseListDto>

<div class="page-body">
    <div class="row">
        <!-- Left column start -->
        <div class="col-lg-12 col-xl-12">
            <!-- Job description card start -->
            <div class="card">
                <div class=" contact-details">
                     <div class="data_table_main table-responsive dt-responsive pb-15">
                        <table id="simpletable"
                               class="table
                     table-striped
                     table-bordered
                     nowrap">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Ad</th>
                                    <th>Yükləmə</th>
                                    <th class="text-center">
                                        @if (User.HasAccess("clause.add"))
                                        {
                                            <button onclick="showInPopup('@Url.Action("Add","Clause",null,Context.Request.Scheme)','Şablon əlavə et')" type="button" class="btn btn-outline-info"><i class="icofont icofont-plus m-0"></i></button>
                                        }
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var clause in Model)
                                {

                                    <tr>
                                        <td>
                                            #@clause.Id
                                        </td>

                                        <td>@clause.Name</td>
                                        <td>
                                            <a class="pl-4" target="_blank" href="~/clauseDocs/@clause.FilePath" download>
                                                <i class="fa fa-download" aria-hidden="true" style="color: #404E67"></i>
                                            </a>
                                        </td>

                                        @if (clause.DeleteByUserId == null)
                                        {
                                            <td class="dropdown text-center">
                                                <button type="button"
                                                class="btn
                                                btn-outline-info
                                                @*dropdown-toggle*@"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                                    <i class="fa fa-list-ul"></i>
                                                </button>
                                                <ul class="dropdown-menu   dropdown-menu-right  b-none   contact-menu ">
                                                    @if (User.HasAccess("clause.update"))
                                                    {
                                                        <li>
                                                            <button onclick="showInPopup('@Url.Action("Update","Clause",new {id=clause.Id},Context.Request.Scheme)','Yenilə')"
                                                        class="w-100 text-left btn  btn-default waves-effect md-trigger text-warning">
                                                                <i class="icofont  icofont-edit text-warning  p-r-15"></i>
                                                                Yenilə
                                                            </button>
                                                        </li>
                                                    }
                                                    @if (User.HasAccess("clause.delete") && clause.IsDeletable)
                                                    {
                                                        <li>
                                                            <button onclick="removeItem(@clause.Id,`@clause.Name`,`@Url.Action("Delete","Clause").ToString()`)"
                                                        class="btn btn-default waves-effect md-trigger  text-danger">
                                                                <i class="icofont icofont-ui-delete text-danger p-r-15"></i>
                                                                Sil
                                                            </button>
                                                        </li>
                                                    }
                                                </ul>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="dropdown text-center">
                                                <button disabled type="button"
                                                class="btn
                                                btn-outline-danger
                                                @*dropdown-toggle*@"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                                    <i class="fa fa-list-ul"></i>
                                                </button>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                           
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>