@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model ClauseUpdateDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" class="main-signin-form" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FilePath"/>
            <input type="hidden" asp-for="Key"/>
            <input type="hidden" asp-for="IsBackground"/>
            <input type="hidden" asp-for="IsDeletable"/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Ad: </label>
                        <input type="text" class="form-control" asp-for="Name" autocomplete="off">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="floatLabel"> Fayl: </label>
                    <div class="file upload form-control mb-3" style="position: relative;overflow: hidden;">
                        <i class="fas fa-cloud-upload-alt" style="color: #01a9ac"></i>
                        <span id="pdfTxt"> Fayl yüklə</span>
                        <input id="ReadyDoc" type="file" name="readyDoc" accept=".docx" style="cursor: pointer;position: absolute; font-size: 50px; opacity: 0; right: 0; top: 0;" />
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" class="btn btn-dark-blue m-b-0  btn-block">
                        Təsdiqlə
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")

<script>
    $(document).ready(function () {
        $('#pdfTxt').text($("#FilePath").val());

        $('#ReadyDoc').change(function () {
            var file = $('#ReadyDoc')[0].files[0].name;
            $('#pdfTxt').text(file);
        });
    });
</script>