@model VacancyUpdateDto
@{
    Layout = null;
}


<head>
    <!-- Select 2 css -->
    <link rel="stylesheet" href="~/files/bower_components2/select2/dist/css/select2.min.css" />
    <!-- Multi Select css -->
    <link rel="stylesheet" type="text/css"
          href="~/files/bower_components2/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" type="text/css" href="~/files/bower_components2/multiselect/css/multi-select.css" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/uploadPrevView.css" />
</head>




<div class="row">
    <div class="col-lg-12 col-xl-12">
        <!-- Nav tabs -->
     <ul class="nav nav-tabs mb-3 tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab"
                   href="#home1" role="tab">Məlumatlar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                   href="#profile1" role="tab">Digər</a>
            </li>

        </ul>
        <!-- Tab panes -->
        <form asp-action="Update" class="main-signin-form" enctype="multipart/form-data">
            <div class="tab-content tabs">
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Başlıq: </label>
                                <input type="text" class="form-control" asp-for="Title" autocomplete="off">
                                <span asp-validation-for="Title" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Şirkət: </label>
                                <select name="select" asp-for="CompanyId" name="CompanyId" class="form-control">

                                    @foreach (var item in ViewBag.companies)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                </select>
                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Maaş: </label>
                                <input type="text" class="form-control" asp-for="Salary" autocomplete="off">
                                <span asp-validation-for="Salary" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Şəhər: </label>
                                <input type="text" class="form-control" asp-for="City" autocomplete="off">
                                <span asp-validation-for="City" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  İş saatı: </label>
                                <input type="text" class="form-control" asp-for="Occupations" autocomplete="off">
                                <span asp-validation-for="Occupations" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Ünvan: </label>
                                <input type="text" class="form-control" asp-for="Address" autocomplete="off">
                                <span asp-validation-for="Address" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Email: </label>
                                <input type="email" class="form-control" asp-for="Email" autocomplete="off">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <label class="floatLabel">  Bitmə Tarixi: </label>
                            <div class="form-group">
                                <input asp-for="EndDate" type="date" class="form-control" id="inputDate">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="profile1" role="tabpanel">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>  Tələb: </label>
                                    <textarea type="text" class="editable1 form-control" asp-for="CandidateDesc"></textarea>
                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>  Təsvir: </label>
                                    <textarea type="text" class="editable2 form-control" asp-for="PosDesc"></textarea>

                                    <span class="messages"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button type="submit" id="sub-btn" class="btn btn-dark-blue m-b-0  btn-block">
                            Təsdiqlə
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@await Html.PartialAsync("_ValidationScriptsPartial")

<!-- Select 2 js -->
<script type="text/javascript" src="~/files/bower_components2/select2/dist/js/select2.full.min.js"></script>
<!-- Multiselect js -->
<script type="text/javascript" src="~/files/bower_components2/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="~/files/bower_components2/multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="~/files/assets/js/jquery.quicksearch.js"></script>
<!-- Custom js -->
<script type="text/javascript" type="text/javascript" src="~/files/assets/pages/advance-elements/select2-custom.js"></script>
<!-- ckeditor js -->
<script type="text/javascript" src="~/files/lib/ckeditor/ckeditor.js"></script>
<!-- cust-validation js -->
<script src="~/files/lib/cust_ajax/cust-validation.js"></script>
<script class="removable">
$.validator.setDefaults({ ignore:''});
$(document).ready(function() {
        CKEDITOR.replace('CandidateDesc');
        CKEDITOR.replace('PosDesc');
    $("form").on("submit",function(e){
            var CandidateDesc = CKEDITOR.instances['CandidateDesc'].getData().replace(/<[^>]*>/gi, '').length;
            var PosDesc = CKEDITOR.instances['PosDesc'].getData().replace(/<[^>]*>/gi, '').length;
         if( !(CandidateDesc && PosDesc) ) {
             if(CandidateDesc){
              toastr.error(" Təsvir boş ola bilməz !", "Xəta!");
             }
             else if(PosDesc){
              toastr.error(" Tələb boş ola bilməz !", "Xəta!");
             }
             else{
              toastr.error(" Tələb və Təsvir boş ola bilməz !", "Xəta!");
             }
          e.preventDefault();
          }
    });
    // date getting

               function getDate() {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();
                if(dd<10) {
                    dd = '0'+dd
                }
                if(mm<10) {
                  mm = '0'+mm
                }
                today = yyyy + '-' + mm + '-' + dd;

                $("#inputDate").val(today);
                }

            $("#sub-btn").click(function(){
                getDate();

            });
});

</script>
