.main-signin-form {
    /*padding: 1rem;*/ 
    margin-top: 1.5rem;
}
.card .card-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card .card-title {
    font-weight: 500;
    font-size: 1.285rem;
}
    .main-signin-form .form-group {
        margin-bottom: 2em;
    }

    .main-signin-form label.floatLabel {
        position: absolute;
        left: 19px;
        /*top: 12px;*/
        color: #999;
        font-size: 16px;
        display: inline-block;
        padding: 0 10px;
        font-weight: 400;
        background-color: rgba(255,255,255,0);
    }

    .main-signin-form label.floatLabel {
        top: -14px;
        background-color: rgb(255 255 255);
        font-size: 14px;
        z-index: 3;
    }

    .main-signin-form .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

form.is-readonly .btn-save {
    display: none;
}

form.is-readonly input[disabled], form.is-readonly textarea[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}

form.is-editing .btn-edit {
    display: none;
}
button, input, optgroup, select, textarea {
    font-family: "Montserrat", sans-serif;
}

.main-custom-border {
    border: 1px solid #ccc;
    border-radius: 2px;
}
.form-group .form-radio:first-child {
    margin-left: 0.5rem;
    margin-top: 2px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
}
.align-item-center{
    align-items:center !important;
}
.pb-15{
    padding-bottom:15px !important;
}