@model FaqAddDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <form asp-action="Add" class="main-signin-form" enctype="multipart/form-data">
            <div class="tab-content tabs card-block">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="floatLabel">  Sual: </label>
                            <input type="text" class="form-control" asp-for="Question" autocomplete="off">
                            <span asp-validation-for="Question" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="floatLabel">  Cavab: </label>
                            <input type="text" class="form-control" asp-for="Answer">
                            <span asp-validation-for="Answer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="floatLabel">  Kateqoriya: </label>
                            <select name="select" asp-for="FaqCategory" name="FaqCategory" class="form-control">
                                @foreach (FaqCategory type in @Enum.GetValues(typeof(FaqCategory)))
                                {
                                    <option value="@type">@type.GetDisplayName()</option>
                                }

                            </select>
                            <span asp-validation-for="FaqCategory" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="floatLabel"> Fayl: </label>
                        <div class="file upload form-control mb-3" style="position: relative;overflow: hidden;">
                            <i class="fas fa-cloud-upload-alt" style="color: #01a9ac"></i>
                            <span id="pdfTxt"> Fayl yüklə</span>
                            <input id="FaqFile" type="file" name="faqFile" style="cursor: pointer;position: absolute; font-size: 50px; opacity: 0; right: 0; top: 0;" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary m-b-0 btn-block">
                            Təsdiqlə
                        </button>

                    </div>

                </div>
            </div>
        </form>
    </div>

</div>
@await Html.PartialAsync("_ValidationScriptsPartial")

<script>
    $(document).ready(function() {
        // $("form").submit( function(e) {
        //      let readyDoc = $("#FaqFile").val();
        //      if( !(readyDoc) )
        //      {
        //         toastr.error(" Fayl boş ola bilməz !", "Xəta!");
        //         e.preventDefault();
        //      }
        //});
        $('#FaqFile').change(function() {
            var file = $('#FaqFile')[0].files[0].name;
            $('#pdfTxt').text(file);
        });
    });
</script>