@model List<AppUserListDto>
@{
    ViewData["Title"] = "Əməkdaş Siyahısı";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/files/lib/jquery-easyui-1.10.4/themes/bootstrap/easyui.css">
<!-- Page-header start -->
<div class="page-header">
    <div class="row justify-content-between">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Əməkdaşlar</h4>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="List" method="post" class="card-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <label class="floatLabel">   Şirkət: </label>
                    <div style="margin-bottom:20px">
                        <input type="text" class="form-control" id="CompId" name="CompId" value="@ViewBag.CompId" style="width:100%">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="floatLabel">  Şöbə: </label>
                    <div style="margin-bottom:20px">
                        <input type="text" class="form-control" id="DepartId" name="DepartId" value="@ViewBag.DepartId" style="width:100%">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="floatLabel">   Vəzifə: </label>
                    <div style="margin-bottom:20px">
                        <input type="text" class="form-control" id="PositId" name="PositId" value="@ViewBag.PositId" style="width:100%">
                    </div>
                </div>
                <div class=" col-sm-3 mt-4">
                    <button type="submit" class="btn btn-outline-success btn-round btn-block">
                        Təsdiqlə
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Page-header end -->
<!-- Page body start -->
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

<div class="modal slideInDown animated" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button id="closeBtn" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-outline-danger btn-icon">
                    <strong id="closeBtnX">x</strong>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!-- Page body start -->
@section CrudJs{
    <!-- delete_ajax-->
    <script src="~/files/lib/cust_ajax/delete_ajax.js"></script>
    <script type="text/javascript" src="~/files/lib/jquery-easyui-1.10.4/jquery.easyui.min.js"></script>
    <script class="removable" type="text/javascript">
        $(document).ready(function ($) {
           var table = $('#usertable').DataTable({
                "searching": true,
                //dom: 'ilftp',
                //"sDom": '<"top"i>rt<"bottom"flp><"clear">',
                dom: 'lfrt<"toolbar">p',
                "ordering": false,
                paging: true,
                //responsive:true,
                "fnDrawCallback": function () {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });
            $('#usertable_length').css({
                'position': 'relative',
                'top': '30px',
                'margin-left': '15px'
            });
            $('#usertable_filter').css({
                'position': 'relative',
                'margin-right': '15px',
                'bottom': '15px'
            });
            $('.toolbar').css({
                'position': 'relative',
                'top': '30px',
                'margin-left': '15px'
            });
            var count = table.rows().count();

            $('div.toolbar').html(`<span>İşçilərin sayı: ${count}</span>`);

            $.ajax({
                url: `@Url.Action("GetCompanyTreeBySignInUser", "Account")`,
                type: "Get",
                data: "",
                dataType: "json",
                cache: false,
                success: function (data) {
                    var defOpt = {
                        id: 0,
                        text: 'Hamısı'
                    };
                    $('#CompId').combotree({
                        data: data,
                        prompt: 'Seçim edin',
                        onLoadSuccess: function (node) {
                            if ($("#DepartId").val() === "0") {
                                $("#DepartId").val('');
                                $("#PositId").val('');
                            }
                            if ($("#PositId").val() === "0") {
                                $("#PositId").val('');
                            }
                            $.ajax({
                                url: `@Url.Action("GetDepartmentTree", "Account")`,
                                type: "Get",
                                data: {
                                    companyId: $('#CompId').val(),
                                },
                                dataType: "json",
                                cache: false,
                                success: function (data) {
                                    if (data.length > 0) {
                                        var tre = $('#DepartId').combotree({
                                            data: data,
                                            prompt: 'Seçim edin',
                                            onLoadSuccess: function () {
                                                $.ajax({
                                                    url: `@Url.Action("GetPositionTree", "Account")`,
                                                    type: "Get",
                                                    data: {
                                                        departmentId: $('#DepartId').val(),
                                                    },
                                                    dataType: "json",
                                                    cache: false,
                                                    success: function (data) {

                                                        var tree = $('#PositId').combotree({
                                                            data: data,
                                                            prompt: 'Seçim edin'
                                                        });
                                                        tree.combotree('disable');

                                                    },
                                                    error: function (data) {
                                                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                                                    }
                                                });
                                            }
                                        })
                                        tre.combotree('disable');

                                    }
                                    else {
                                        var tree = $('#DepartId').combotree({
                                            onLoadSuccess: function (node) {
                                                $('#DepartId').combotree('setValue', '');
                                            },
                                            prompt: 'Yoxdur !',
                                        });
                                        tree.combotree('disable')
                                        var tre = $('#PositId').combotree({
                                            onLoadSuccess: function (node) {
                                                $('#PositId').combotree('setValue', '');
                                            },
                                            prompt: 'Yoxdur !',
                                        });
                                        tre.combotree('disable')
                                    }
                                },
                                error: function (data) {
                                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                                }
                            })
                        },
                        onClick: function (node) {
                            var _id = node.id;
                            $.ajax({
                                url: `@Url.Action("GetDepartmentTree", "Account")`,
                                type: "Get",
                                data: {
                                    companyId: _id,
                                },
                                dataType: "json",
                                cache: false,
                                success: function (data) {
                                    if (data.length > 0) {

                                        var tree = $('#PositId').combotree({
                                            onLoadSuccess: function (node) {
                                                $('#PositId').combotree('setValue', '');
                                            },
                                            prompt: 'Seçim edin'
                                        });
                                        tree.combotree('disable')
                                        $('#DepartId').combotree({
                                            onLoadSuccess: function (node) {
                                                $('#DepartId').combotree('setValue', '');
                                            },
                                            data: [defOpt, ...data],
                                            prompt: 'Seçim edin',
                                            onClick: function (node) {
                                                var _id = node.id;
                                                $.ajax({
                                                    url: `@Url.Action("GetPositionTree", "Account")`,
                                                    type: "Get",
                                                    data: {
                                                        departmentId: _id,
                                                    },
                                                    dataType: "json",
                                                    cache: false,
                                                    success: function (data) {
                                                        if (data.length > 0) {

                                                            var tree = $('#PositId').combotree({
                                                                data: [defOpt, ...data],
                                                                prompt: 'Seçim edin'
                                                            });
                                                        }
                                                        else {
                                                            var tree = $('#PositId').combotree({
                                                                prompt: 'Yoxdur !'
                                                            });
                                                            tree.combotree('disable')
                                                        }
                                                    },
                                                    error: function (data) {
                                                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                                                    }
                                                })
                                            }
                                        })
                                    }
                                    else {
                                        var tree = $('#DepartId').combotree({
                                            onLoadSuccess: function (node) {
                                                $('#DepartId').combotree('setValue', '');
                                            },
                                            prompt: 'Yoxdur !',
                                        });
                                        tree.combotree('disable')
                                        var tre = $('#PositId').combotree({
                                            onLoadSuccess: function (node) {
                                                $('#PositId').combotree('setValue', '');
                                            },
                                            prompt: 'Yoxdur !',
                                        });
                                        tre.combotree('disable')
                                    }
                                },
                                error: function (data) {
                                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                                }
                            })
                        }
                    })
                },
                error: function (data) {
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
            });
        });
    </script>
}

