@model AppUserPassDto
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="NewPassword"  class="main-signin-form">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="floatLabel">Şifrə:</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span class="messages"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="floatLabel"> Təkrar Şifrə:</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                    <span class="messages"></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" id="confirm-id" class="btn btn-dark-blue m-b-0 btn-block">
                        Təsdiq
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")