@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;    }
}
@model NonWorkingDayUpdateDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" class="main-signin-form">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="NonWorkingYearId" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedByUserId" />
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Ad: </label>
                        <input type="text" class="form-control" asp-for="Name" autocomplete="off">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Gün: </label>
                        @*<input type="text" class="form-control" asp-for="Year" autocomplete="off" id="inputDate">*@
                        <div class="input-group input-daterange mb-0">
                            <input type="text" asp-for="StartDate" class="form-control" autocomplete="off">
                            <div class="input-group-addon">to</div>
                            <input type="text" asp-for="EndDate" class="form-control" autocomplete="off">
                        </div>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Növ: </label>
                        <select asp-for="Type" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                            @foreach (var item in ViewBag.DayTypes)
                            {
                                <option value="@item.Key">@item.Name</option>
                            }

                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary m-b-0  btn-block">
                        Təsdiqlə
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")
<script>

    $( document ).ready(function() {
         $('.input-daterange input').each(function () {
            $(this).datepicker({
                format: "dd.mm.yyyy"
            });
        });
     });

</script>