@model List<PositionListDto>
@{
    ViewData["Title"] = "Vəzifə Siyahısı";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- Page-header start -->
<div class="page-header">
    <div class="row justify-content-between">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Vəzifə</h4>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Page-header end -->
<!-- Page body start -->
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

<div class="modal slideInDown animated" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-lg ui-draggable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button id="closeBtn" type="button" style="z-index: 345;" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-outline-danger btn-icon">
                    <strong  id="closeBtnX">x</strong>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section CrudJs{
    <!-- delete_ajax-->
    <script src="~/files/lib/cust_ajax/delete_ajax.js"></script>
@*    <script>
    $(document).ready(function(){
        $(document).on("click","#form-modal",function(e){
                if(
                 $(e.target).attr('id') == 'form-modal' || 
                 $(e.target).attr('id') =='closeBtn'|| 
                 $(e.target).attr('id') =='closeBtnX'){
                    location.reload();
                }
        })
    });
    </script>*@
}