@model AppUserProfileDto
@{
    Layout = null;
}
<form asp-action="Profile" method="post" class="is-readonly main-signin-form" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label class="floatLabel"> Faktiki ünvan: </label>
                <input type="text" class="form-control" asp-for="Address" placeholder="Faktiki ünvan" autocomplete="off">
                <span class="messages"></span>
            </div>

        </div>       
        <div class="col-sm-6">
            <div class="form-group">
                <label class="floatLabel"> Qeydiyyat  ünvan: </label>
                <input type="text" class="form-control" asp-for="RegisterAdress" placeholder="Qeydiyyat ünvan" autocomplete="off">
                <span class="messages"></span>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group ">
                <label class="floatLabel">  Korporativ nömrə: </label>
                <input type="text" class="form-control" asp-for="PhoneNumber" autocomplete="off">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <span class="messages"></span>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group ">
                <label class="floatLabel">  Şəxsi nömrə: </label>
                <input type="text" class="form-control" asp-for="PersonalPhoneNumber" autocomplete="off">
                <span asp-validation-for="PersonalPhoneNumber" class="text-danger"></span>
                <span class="messages"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group ">
                <label class="floatLabel">  Ev nömrə: </label>
                <input type="text" class="form-control" asp-for="HomePhoneNumber" autocomplete="off">
                <span asp-validation-for="HomePhoneNumber" class="text-danger"></span>
                <span class="messages"></span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group border border-light">
                <label class="floatLabel">  Sosial Sığorta nömrəsi: </label>
                <input type="text" class="form-control" asp-for="SsnCode" disabled autocomplete="off">
                <span class="messages"></span>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-12 d-flex justify-content-between">
            <button type="submit" id="confirm-id" class="btn btn-dark-blue m-b-0 btn-block">
                Təsdiq
            </button>

        </div>
    </div>

</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


