@model AppUserInfoDto

 <ul class="nav-right">

            
                <li class="user-profile header-notification">
                    <div class="dropdown-primary dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/@(Model.Picture!=null?"profile/"+Model.Picture:"uploads/default.png")" class="img-radius rounded-circle" style=" height: 40px; width: 45px;">
                            <span>@Model.FirstName @Model.LastName</span>
                            <i class="feather icon-chevron-down"></i>
                        </div>
                        <ul class="show-notification profile-notification dropdown-menu">
                            <li>
                                <a asp-controller="User" asp-action="Profile" asp-route-id="@Model.Id">
                                    <i class="feather icon-user"></i> Şəxsi Kabinet
                                </a>
                            </li>
                            <li>
                                <a asp-action="SignOut" asp-controller="User">
                                    <i class="feather icon-log-out"></i> Çıxış et
                                </a>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>