<footer class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">Copyright © 2021 <a target="_blank" href="http://https://srgroupco.com/">SR Group Co.</a>, All rights reserved.</p>
    </div>
    <div class="footer-section f-section-2">
        <p class="">Version 1.0.0</p>
    </div>
</footer>