<title>SR Group Co </title>
<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 10]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,
            user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="#">
<meta name="keywords"
      content="Admin , Responsive, Landing, Bootstrap, App, Template,
            Mobile, iOS, Android, apple, creative app">
<meta name="author" content="#">
<!-- Favicon icon -->
<link rel="icon" href="~/files/assets/images/common/sr-gr-logo.png"
      type="image/x-icon">
<!-- Font Awesome -->
<link rel="stylesheet" type="text/css" href="~/files/assets/icon/font-awesome/css/font-awesome.min.css">
<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800"
      rel="stylesheet">
<!-- Data Table Css -->
<link rel="stylesheet" type="text/css" href="~/files/bower_components2/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/files/bower_components2/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css"
      href="~/files/bower_components2/bootstrap/dist/css/bootstrap.min.css">
<!-- Required Fremwork -->
<!-- light-box css -->
<link rel="stylesheet" type="text/css" href="~/files/bower_components2/ekko-lightbox/dist/ekko-lightbox.css">
<link rel="stylesheet" type="text/css" href="~/files/bower_components2/lightbox2/dist/css/lightbox.css">
<!-- Date-time picker css -->
<link rel="stylesheet" type="text/css"
      href="~/files/assets/pages/advance-elements/css/bootstrap-datetimepicker.css">
<!-- Date-range picker css  -->
<link rel="stylesheet" type="text/css"
      href="~/files/bower_components2/bootstrap-daterangepicker/daterangepicker.css" />
<!-- Date-Dropper css -->
<link rel="stylesheet" type="text/css"
      href="~/files/bower_components2/datedropper/datedropper.min.css" />
<!-- themify-icons line icon -->
<link rel="stylesheet" type="text/css"
      href="~/files/assets/icon/themify-icons/themify-icons.css">
<!-- ico font -->
<link rel="stylesheet" type="text/css"
      href="~/files/assets/icon/icofont/css/icofont.css">
<!-- feather Awesome -->
<link rel="stylesheet" type="text/css"
      href="~/files/assets/icon/feather/css/feather.css">
<!-- Style.css -->
<link rel="stylesheet" type="text/css"
      href="~/files/assets/css/style.css">
<link rel="stylesheet" type="text/css"
      href="~/files/assets/css/jquery.mCustomScrollbar.css">
<!-- sweet alert framework -->
<link rel="stylesheet" type="text/css" href="~/files/assets/css/sweetalert.css">
@*<link rel="stylesheet" type="text/css" href="~/files/lib/limonte-sweetalert2/sweetalert2.min.css">*@

<!-- animation css -->
<link rel="stylesheet" type="text/css" href="~/files/bower_components2/animate.css/animate.css">
<!-- Toastr css -->
<link rel="stylesheet" type="text/css" href="~/files/lib/toastr.js/toastr.css">
<!-- animation nifty modal window effects css -->
<link rel="stylesheet" type="text/css" href="~/files/assets/css/component.css">
<link href="~/files/assets/css/mainCustom.css" rel="stylesheet" />
<!-- font awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<!-- animation nifty modal window effects css -->

<link rel="stylesheet" type="text/css" href="~/files/bower_components2/jstree/dist/themes/default/style.min.css">
<link rel="stylesheet" type="text/css" href="~/files/assets/pages/treeview/treeview.css">
<link rel="stylesheet" type="text/css" href="~/files/bower_components2/switchery/dist/switchery.min.css">

<link rel="stylesheet" type="text/css" href="~/files/bower_components2/jquery.steps/demo/css/jquery.steps.css">
<link rel="stylesheet" type="text/css" href="~/files/assets/pages/social-timeline/timeline.css">

<style>
    .tooltip-inner {
        max-width: 350px;
        width: 350px;
        background-color: cadetblue;
    }

    .disable {
        pointer-events: none;
        opacity: 0.6;
    }

</style>