<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">


        @await Component.InvokeAsync("Setting")
        <div class="navbar-container">
            <ul class="nav-left">
                <li>
                    <a href="#!" onclick="javascript:toggleFullScreen()">
                        <i class="feather icon-maximize full-screen"></i>
                    </a>
                </li>
            </ul>
            @await Component.InvokeAsync("Profile")
        </div>
    </div>
</nav>

