
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadLinks" />
    @await RenderSectionAsync("CustomCss", required: false)
</head>
<body>
    <partial name="_Loader" />
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <partial name="_Header" />
            <partial name="_RightBar" />
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <partial name="_SideBar" />
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    @Html.AntiForgeryToken()
                                    @RenderBody()
                                </div>
                            </div>
                            <div class="modal" tabindex="-1" role="dialog" id="form-modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="loaderbody" id="loaderbody">
                            <div class="loader"></div>
                            </div>*@
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <partial name="_FootScripts" />
    @await RenderSectionAsync("ProfileJs", required: false)
    @await RenderSectionAsync("CrudJs", required: false)

    <script>
        $(document).ready(function () {
            $(document).on("click", "#closeBtn", function (e) {
                $(".modal").each(function () {
                    if ($(this).hasClass("show")) {
                        $(".panel").last().css('display', 'none');
                        //$(".select2-dropdown").addClass("d-none")
                    } else {
                        $(".panel-htop").last().css('display', 'none');
                        $(".select2-dropdown").addClass("d-none")
                    }
                });
            });

        });
    </script>
    @*  <script>
    $.ajaxSetup({
    statusCode:{
    200:function(response){
    if(response.error == false &&response.message.length>0){
    toastr.success(response.message,'Ugurludur!');
    }
    },
    400:function(response){
    console.log('Xetali Sorgu','Xeta!');

    },
    401:function(response){
    console.log('Evvelce Sisteme daxil olmalisiniz','Diqqet!');
    },
    403:function(response){
    console.log('Bu Emeliyyat ucun Selahiyyetiniz yoxdur','Diqqet!');
    },
    404:function(response){
    console.log('Melumat Tapilmadi','Diqqet!');
    },
    500:function(response){
    console.log('Server Xetasi','Xeta!');
    }
    }
    });
    </script>*@
    <script class="removable">
        $(".removable").remove();
        $("#searchId").on("click", function (e) {
            var input = document.querySelector("#search").value.trim();

            if (input != null && input != '') {
                $.ajax({
                    type: 'post',
                    url: `@Url.Action("Search","Ticket")`,
                    datatype: 'json',
                    data: { id: input },
                    success: function (response) {
                        if (response.error == true) {

                            toastr.error(response.message, "Xəta baş verdi!");
                            return;
                        }
                    },
                    error: function (response) {

                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                    }
                });
            }
        })

    </script>
</body>
</html>


