<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <ul id="listed-links" class="pcoded-item pcoded-left-item">
            @if (User.HasAccess("dashboard.menu"))
            {
                <li class="pcoded-hasmenu">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon">
                            <i class="icofont icofont-home"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a asp-controller="dashboard" asp-action="menu">
                                <span class="pcoded-mtext">Ticket Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.HasAccess("account.list"))
            {
                <li class="pcoded-hasmenu">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon">
                            <i class="feather icon-layers"></i>
                        </span>
                        <span class="pcoded-mtext">HR Modul</span>

                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a asp-controller="account" asp-action="List">
                                <span class="pcoded-mtext">Əməkdaş Siyahısı</span>
                            </a>
                        </li>
                        @if (User.HasAccess("company.list"))
                        {
                            <li class="">
                                <a asp-controller="company" asp-action="List">
                                    <span class="pcoded-mtext">Şirkət Siyahısı</span>
                                </a>
                            </li>
                        }
                        @if (User.HasAccess("department.list"))
                        {
                            <li class="">
                                <a asp-controller="department" asp-action="List">
                                    <span class="pcoded-mtext">Şöbə Siyahısı</span>
                                </a>
                            </li>
                        }
                        @if (User.HasAccess("position.list"))
                        {
                            <li class="">
                                <a asp-controller="position" asp-action="List">
                                    <span class="pcoded-mtext">Vəzifə Siyahısı</span>
                                </a>
                            </li>
                        }
                        @if (User.HasAccess("grade.list"))
                        {
                            <li class="">
                                <a asp-controller="grade" asp-action="List">
                                    <span class="pcoded-mtext">Dərəcə Siyahısı</span>
                                </a>
                            </li>
                        }
                        @if (User.HasAccess("role.list"))
                        {
                            <li class="">
                                <a asp-controller="role" asp-action="list">
                                    <span class="pcoded-mtext">Rollar</span>
                                </a>
                            </li>
                        }

                        @*<li class="">
                            <a asp-controller="account" asp-action="Info">
                            <span class="pcoded-mtext">Permission</span>
                            </a>
                            </li>*@

                    </ul>
                </li>
            }
            @if (User.HasAccess("ticket.list"))
            {
                <li class="pcoded-hasmenu" @*dropdown-icon="style1" subitem-icon="style1"*@>
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                        <span class="pcoded-mtext">Ticket</span>
                    </a>
                    <ul class="pcoded-submenu">

                        @if (User.HasAccess("ticket.admin"))
                        {
                            <li class="@ViewData["admin"]">
                                <a asp-controller="ticket" asp-action="admin">
                                    <span class="pcoded-mtext">Ticketlər</span>
                                </a>
                            </li>
                        }
                        @if (User.HasAccess("ticket.DepartmentTickets"))
                        {
                            <li class="">
                                <a asp-controller="ticket" asp-action="DepartmentTickets">
                                    <span class="pcoded-mtext">Şöbələrin Ticket Siyahısı</span>
                                </a>
                            </li>
                        }
                        <li class="">
                            <a asp-controller="ticket" asp-action="NonRedirect">
                                <span class="pcoded-mtext">Yönlənməyən Ticket Siyahısı</span>
                            </a>
                        </li>
                        @if (User.HasAccess("ticket.list"))
                        {
                            <li class="">
                                <a asp-controller="ticket" asp-action="list">
                                    <span class="pcoded-mtext">Ticket Siyahısı</span>
                                </a>
                            </li>
                        }
                        @if (User.HasAccess("ticket.watched"))
                        {
                            <li class="">
                                <a asp-controller="ticket" asp-action="watched">
                                    <span class="pcoded-mtext">Nəzarət Ticket Siyahısı</span>
                                </a>
                            </li>
                        }
                        @if (User.HasAccess("ticket.confirmed"))
                        {
                            <li class="">
                                <a asp-controller="ticket" asp-action="confirmed">
                                    <span class="pcoded-mtext">Təsdiq Ticket siyahısı</span>
                                </a>
                            </li>
                        }
                        <li class="">
                            <a asp-controller="CategoryTicket" asp-action="list">
                                <span class="pcoded-mtext">Kateqoriya</span>
                            </a>
                        </li>

                        <li class="">
                            <a asp-controller="checklist" asp-action="list">
                                <span class="pcoded-mtext">Checklist</span>
                            </a>
                        </li>

                        <li class="">
                            <a asp-controller="SmtpEmail" asp-action="index">
                                <span class="pcoded-mtext">SMTP Mail Server</span>
                            </a>
                        </li>
                        @* @if (User.HasAccess("order.list"))
                            {
                            <li class="">
                            <a asp-controller="order" asp-action="list">
                            <span class="pcoded-mtext">Sifarişlər</span>
                            </a>
                            </li>
                            }*@
                    </ul>
                </li>
            }
            @if (User.HasAccess("news.list"))
            {
                <li class="pcoded-hasmenu">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon">
                            <i class="icofont icofont-newspaper"></i>
                        </span>
                        <span class="pcoded-mtext">Xəbərlər</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a asp-controller="News" asp-action="List">
                                <span class="pcoded-mtext">Xəbər Siyahısı</span>
                            </a>
                        </li>
                        <li class="">
                            <a asp-controller="News" asp-action="Info">
                                <span class="pcoded-mtext">Xəbərlər</span>
                            </a>
                        </li>
                        <li class="">
                            <a asp-controller="Category" asp-action="list">
                                <span class="pcoded-mtext">Kateqoriya</span>
                            </a>
                        </li>
                    </ul>
                </li>

            }
            @if (User.HasAccess("vacancy.list"))
            {
                <li class="pcoded-hasmenu">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon">
                            <i class="icofont icofont-job-search"></i>
                        </span>
                        <span class="pcoded-mtext">Vakansiya</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a asp-controller="vacancy" asp-action="List">
                                <span class="pcoded-mtext">Vakansiya Siyahısı</span>
                            </a>
                        </li>
                        <li class="">
                            <a asp-controller="vacancy" asp-action="info">
                                <span class="pcoded-mtext">Vakansiyalar</span>
                            </a>
                        </li>
                    </ul>
                </li>

            }
            @if (User.HasAccess("Stock.list"))
            {
                <li class="pcoded-hasmenu">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon">
                            <i class="icofont icofont-job-search"></i>
                        </span>
                        <span class="pcoded-mtext">İnventar</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a asp-controller="Stock" asp-action="List">
                                <span class="pcoded-mtext">İnventar</span>
                            </a>
                        </li>
                        <li class="">
                            <a asp-controller="StockCategory" asp-action="List">
                                <span class="pcoded-mtext">İnventar Kateqoriya</span>
                            </a>
                        </li>
                    </ul>
                </li>

            }
        </ul>
    </div>
</nav>