@model List<TicketListDto>
@{
    ViewData["Title"] = "Ticket Siyahısı";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

<div class="modal zoomIn animated" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-xl ui-draggable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button id="closeBtn" type="button" data-dismiss="modal" onclick = "location.reload()" aria-label="Close" class="btn btn-danger btn-outline-danger btn-icon">
                    <strong id="closeBtnX">x</strong>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal zoomIn animated" tabindex="-1" role="dialog" id="form-modal-info">
    <div class="modal-dialog modal-xl ui-draggable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button id="closeBtn" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-outline-danger btn-icon">
                    <strong id="closeBtnX">x</strong>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="modal zoomIn animated" tabindex="-1" role="dialog" id="form-md-modal">
    <div class="modal-dialog modal-md ui-draggable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button id="closeBtn" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-outline-danger btn-icon">
                    <strong>x</strong>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal zoomIn animated" tabindex="-1" role="dialog" id="form-sm-modal">
    <div class="modal-dialog modal-sm ui-draggable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button id="closeBtn" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-outline-danger btn-icon">
                    <strong>x</strong>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal zoomIn animated" tabindex="-1" role="dialog" id="form-lg-modal">
    <div class="modal-dialog modal-lg ui-draggable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button id="closeBtn" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger btn-outline-danger btn-icon">
                    <strong>x</strong>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@section CrudJs{
    <!-- delete_ajax-->
    <script src="~/files/lib/cust_ajax/delete_ajax.js"></script>

}